<!DOCTYPE html>
<html>
<head>
  <title>BookmarkManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="/assets/bookmark_logo.png">
        </a>
      </div>
    </div>
  </nav>

  <div class="container padding-left-100">
    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
